.allartist {
  grid-area: principal;
  overflow: auto;
}
.allartist::-webkit-scrollbar {
  width: 13px;
  position: absolute;
}
.allartist::-webkit-scrollbar-thumb {
  background-color: #ffffff6b;
}

.allartist .allartist__body__container {
  margin-top: 60px;
}

.allartist .allartist__artistcard__cards__container {
  gap: 22px;
  justify-content: flex-start;
}

.allartist .allartist__footer__section {
  margin-bottom: 75px;
}

.allartist .allartist__body__title:hover {
  text-decoration: none;
}
