/*BODY SECTION*/
.allartist__body__container {
  margin-top: 60px;
}

/*ARTIST SECTION*/

.allartist__artistcard__cards__container {
  gap: 22px;
  justify-content: flex-start;
}

/*FOOTER SECTION*/

.allartist__footer__section {
  margin-bottom: 75px;
}
