.principal__podcasts {
  border-radius: 8px;
  grid-area: principal;
  overflow: auto;
  background-image: linear-gradient(
    to top,
    var(--sectionBgColor) 40%,
    var(--podcastsColor) 90%
  );
  background-attachment: scroll;
}
.principal__podcasts__nav {
  background: #00000060;
}
.principal__podcasts__nav__title {
  color: var(--btnBgColor);
  font-size: 1.4rem;
  cursor: default;
}
.principal__podcasts__title__container {
  margin-top: 62px;
}
.revertNav {
  background-color: #10352a;
}

[scroll-anim="move"] {
  opacity: 0;
  transition: all linear 0.5s;
}
.revertNavTitle {
  opacity: 1;
}
.principal__podcasts__title {
  color: var(--btnBgColor);
  font-size: 5.5rem;
  letter-spacing: -3px;
  padding-left: 22px;
  margin-bottom: 25px;
}
.principal__podcasts__container {
  background-image: linear-gradient(to bottom, #00000034 50%, transparent 100%);
  padding: 45px 0 20px;
}

.principal__podcasts__body__section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 22px;
}
.principal__podcast__body {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  width: 185px;
  height: 185px;
  overflow: hidden;
}
.principal__podcast__title {
  word-wrap: break-word;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--btnBgColor);
}
.principal__podcasts__section__title {
  color: var(--btnBgColor);
  font-size: 1.5rem;
  margin-bottom: 5px;
  padding-left: 22px;
}
.principal__podcast__img {
  width: 100px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: rotate(25deg);
}
.principal__podcasts__footer__section {
  padding: 0 22px;
}
.principal__podcasts__link__container {
  transition: filter linear 0.1s;
  border-radius: 30px;
  background: var(--backGroundColor_2);
  margin-top: 20px;
  width: max-content;
}
.principal__podcast__link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px 10px 7px 15px;
  color: var(--btnBgColor);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
}
.principal__podcasts__link__container:hover {
  filter: brightness(120%);
}
.principal__podcasts__link__container:hover .principal__podcast__link {
  text-decoration: underline;
}
.principal__podcasts__link__icon {
  color: var(--btnBgColor);
  font-size: 1.2rem;
}
.principal__podcasts__links__section {
  color: var(--btnBgColor);
}
