.home__container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 66px;
  grid-template-areas:
    "sidebar principal"
    "footer footer";
  background: var(--backGroundColor);
  width: 100%;
  height: 100vh;
  padding: 8px;
  gap: 8px;
}
.home__menu__icon {
  display: none;
}

@media (max-width: 1165px) {
  .home__container {
    gap: 0px;
  }
  .home__menu__icon {
    display: inline-block;
    color: var(--backGroundColor);
    position: absolute;
    bottom: 10vh;
    left: 12px;
    font-size: 2.2rem;
    z-index: 100;
    background: var(--letterColor);
    border-radius: 5px;
  }
}
