.register__number__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: var(--sectionBgColor);
  width: 100%;
  height: 100vh;
  padding: 30px;
}
.register__number__section__container {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register__number__section__title {
  color: var(--btnBgColor);
  font-size: 1.5rem;
}
.register__number__numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.register__number__form {
  width: 100%;
}
.register__number__form__section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.register__number__input {
  width: 100%;
}
.register__number__select {
  width: 240px;
  height: 45px;
  background: transparent;
  color: var(--btnBgColor);
  border-radius: 5px;
  font-size: 1rem;
}
.register__number__input {
  transition: all linear 0.07s;
  border: 0;
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--letterColor);
}
.register__number__select:hover {
  outline: 1px solid var(--btnBgColor);
}
.register__number__input:focus {
  box-shadow: inset 0 0 0 3px var(--btnBgColor);
}

.register__number__select:focus {
  outline: 2px solid var(--btnBgColor);
}
.register__number__select > option {
  background: var(--sectionBgColor);
  padding-bottom: 10px;
}

.register__number__alert__container {
  position: absolute;
  bottom: -25px;
  left: 0;
  display: flex;
  gap: 5px;
}
.register__number__alert {
  color: var(--alertColor_1);
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.register__number__alert__icon {
  transform: scale(1.3);
  color: var(--alertColor_1);
}
.register__number__input__container {
  position: relative;
  width: 100%;
}
.register__number__alert2__container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e91429;
  color: var(--btnBgColor);
  padding: 12px 20px;
  width: 100%;
  margin-bottom: 30px;
}
.register__number__alert2 {
  font-size: 0.9rem;
  font-weight: 400;
}
.register__number__alert2__icon {
  font-size: 1.6rem;
}
.register__number__btn__number__section:hover {
  transform: scale(1.05);
  filter: brightness(100%);
}

.register__number__btn__number__section.disabled {
  background: #164e2a;
  cursor: not-allowed;
}

.register__number__btn__number__section:hover.disabled {
  background: #164e2a;
  cursor: not-allowed;
  transform: scale(1);
}
