.search__container {
  border-radius: 8px;
  grid-area: principal;
  overflow: auto;
  background-color: var(--sectionBgColor);
  position: relative;
  z-index: 1;
}
.search__container::-webkit-scrollbar {
  width: 13px;
}
.search__container::-webkit-scrollbar-thumb {
  background-color: #ffffff6b;
}
.search__navbar {
  display: flex;
  background: #00000060;
}
.search__navbar__input__container {
  padding: 0 5px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.search__navbar__input {
  border-radius: 30px;
  background: var(--backGroundColor_2);
  border: none;
  outline: none;
  padding-left: 35px;
  padding-right: 30px;
  height: 48px;
  overflow: hidden;
  width: 100%;
  max-width: 360px;
}
.search__navbar__input:focus {
  outline: 2px solid var(--btnBgColor);
}
.search__navbar__input:focus:hover {
  outline: 2px solid var(--btnBgColor);
}
.search__navbar__input[placeholder] {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--btnBgColor);
}
.search__navbar__input:hover {
  outline: 1px solid #363636;
}
.search__navbar__input__container:hover {
  filter: brightness(120%);
}
.search__navbar__input__container:hover .search__navbar__icon {
  color: var(--btnBgColor);
}
.search__navbar__input:hover .search__navbar__icon {
  color: var(--btnBgColor);
}
.search__navbar__icon {
  font-size: 1.3rem;
  color: var(--letterColor);
  position: absolute;
  left: 15px;
}
