.allpodcasts__container {
  border-radius: 8px;
  grid-area: principal;
  overflow: auto;
  background-color: var(--sectionBgColor);
}
.allpodcasts__container::-webkit-scrollbar {
  width: 13px;
}
.allpodcasts__container::-webkit-scrollbar-thumb {
  background-color: #ffffff6b;
}
.allpodcasts__nav {
  background: #0a0a0a;
}
.allpodcasts__nav__title {
  color: var(--btnBgColor);
  font-size: 1.4rem;
  cursor: default;
}
.allpodcasts__section__container {
  content: "";
}
.allpodcasts__section__title__container {
  padding-top: 68px;
  padding-left: 22px;
  padding-bottom: 35px;
  background-image: linear-gradient(to bottom, #161616fb, #0c0c0c);
}
.allpodcasts__section__title {
  letter-spacing: -3px;
  font-size: 5.5rem;
  color: var(--btnBgColor);
}
.allpodcasts__section__body {
  padding: 0 0 22px 22px;
}
.allpodcasts__section__body__title {
  margin-top: 50px;
  margin-bottom: 5px;
  color: var(--btnBgColor);
  font-size: 1.4rem;
}
.allpodcasts__section {
  display: flex;
  align-items: center;
  gap: 23px;
  flex-wrap: wrap;
}
.allpodcasts__links__section {
  color: var(--btnBgColor);
  padding: 0 27px;
}
