.resetpassword__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background: var(--sectionBgColor);
  width: 100%;
  height: 100vh;
}
.resetpassword__body__section {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  color: var(--btnBgColor);
  height: 100%;
}
.resetpassword__body__title {
  font-size: 2rem;
}
.resetpassword__body__section__desc {
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
}
.resetpassword__body__paragraph {
  font-size: 0.9rem;
  font-weight: 600;
}
.resetpassword__body__form {
  display: flex;
  flex-direction: column;
}
.resetpassword__form__input {
  border: 0;
  outline: 0;
  box-shadow: inset 0 0 0 1px var(--letterColor);
  height: 50px;
  margin-bottom: 20px;
  width: 90%;
  color: var(--btnBgColor);
  padding: 0 15px;
  font-size: 1rem;
}
.resetpassword__form__input:hover {
  border: none;
  outline: 1px solid var(--btnBgColor);
}
.resetpassword__form__help {
  width: max-content;
  margin: 20px 0;
  display: inline-block;
  color: var(--btnBgColor);
  font-size: 0.9rem;
}
.resetpassword__form__help:hover {
  color: var(--registerColor);
}
.resetpassword__form__btn {
  cursor: pointer;
  margin: 20px 0;
  background-color: var(--registerColor);
  border: none;
  padding: 16px 50px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  width: 90%;
}
.resetpassword__footer {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: var(--letterColor);
  font-size: 0.68rem;
}
.resetpassword__footer__link {
  color: var(--letterColor);
}
.resetpassword__footer__link:hover {
  color: var(--registerColor);
}
