.principal__container {
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  width: 100%;
  grid-area: principal;
  background-image: linear-gradient(
    to top,
    var(--sectionBgColor) 70%,
    var(--backGroundColor_2) 100%
  );
  color: var(--btnBgColor);
  height: 100%;
}

/*NAVBAR__SECTION*/

.principal__navbar {
  position: sticky;
  width: 100%;
  z-index: 50;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 0 28px;
  background: var(--sectionBgColor);
}
.principal__navbar__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.principal__navbar__icon {
  cursor: not-allowed;
  border-radius: 50%;
  background-color: #00000096;
  color: var(--letterColor);
  font-size: 1.5rem;
  outline: 4px solid #00000096;
}
.principal__navbar__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.principal__navbar__link {
  font-size: 0.92rem;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  color: var(--letterColor);
}
.principal__navbar__link__register {
  font-weight: 600;
  text-decoration: none;
  color: var(--letterColor);
  margin-right: 5px;
}

.principal__navbar__link:hover,
.principal__navbar__link__register:hover {
  transform: scale(1.06);
  color: var(--btnBgColor);
}

.principal__navbar__divisor {
  display: flex;
  height: 26px;
  width: 2px;
  background-color: var(--btnBgColor);
  margin: 0 28px;
}
.principal__register__section {
  display: flex;
  align-items: center;
}
.principal__navbar__register {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.93rem;
}

.principal__navbar__btn {
  height: 100%;
  font-size: 0.94rem;
  padding: 15px 33px;
  margin: 0 5px;
  font-weight: 600;
}

/*BODY SECTION*/

.principal__body__container {
  padding: 26px;
}
.principal__body__title {
  font-size: 1.3rem;
  transform: scaleY(1.1);
}
