.artistmodal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  transition: linear 0.2s;
}

.artistmodal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 810px;
  border-radius: 8px;
  overflow: hidden;
  height: 455px;
  padding: 64px;
  display: flex;
  justify-content: space-between;
  z-index: 51;
  box-shadow: 5px 5px 20px #000000a6;
}

.artistmodal__img {
  border-radius: 8px;
  object-fit: cover;
  width: 300px;
  box-shadow: 0 0 100px #000000a6;
}
.artistmodal__img__container {
  margin-right: 55px;
  display: flex;
  align-items: center;
}
.artistmodal__desc__title {
  line-height: 45px;
  margin-top: 10px;
  font-size: 1.95rem;
  color: var(--btnBgColor);
  font-weight: 500;
}
.artistmodal__desc__section {
  text-align: center;
}
.artistmodal__desc__btn {
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--registerColor);
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
}
.artistmodal__desc__btn:hover {
  transform: scale(1.04);
}
.artistmodal__desc__btn:active {
  transform: scale(1);
  filter: brightness(70%);
}
.artistmodal__desc__btn_download {
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid var(--letterColor);
  color: var(--btnBgColor);
  padding: 14px 43px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
}
.artistmodal__desc__btn_download:hover {
  transform: scale(1.03);
  border: 1px solid var(--btnBgColor);
}
.artistmodal__desc__btn_download:active {
  transform: scale(1);
  filter: brightness(70%);
}
.artistmodal__desc__link__section {
  margin-top: 25px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: var(--btnBgColor);
}
.artistmodal__desc__link__paragraph {
  font-size: 0.83rem;
}
.artistmodal__desc__link {
  font-size: 0.85rem;
  color: var(--btnBgColor);
  font-weight: 600;
  text-decoration: none;
}
.artistmodal__desc__link:hover {
  text-decoration: underline;
}
.artistmodal__close__btn {
  position: absolute;
  top: 78%;
  left: 48%;
  background: transparent;
  border: none;
  color: var(--letterColor);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.artistmodal__close__btn:hover {
  color: var(--btnBgColor);
  transform: scale(1.07);
}
