.sidebar__container {
  display: grid;
  grid-area: sidebar;

  grid-template-rows: 155px 1fr;
  grid-row-gap: 8px;
  grid-template-areas:
    "first"
    "second";
  max-width: 420px;
}

/*FIRST SECTION*/

.sidebar__first__section {
  padding: 19px 21px 15px;
  grid-area: first;
  background: var(--sectionBgColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__logo__link__spotify {
  display: flex;
  align-items: center;
  gap: 1px;
  text-decoration: none;
}

.sidebar__icon {
  transition: all linear 0.2s;
  font-size: 1.8rem;
  color: var(--btnBgColor);
}
.sidebar__icon__inicio {
  color: var(--letterColor);
}

.sidebar__logo__paragraph {
  transition: all linear 0.2s;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--letterColor);
}
.sidebar__logo__paragraph__inicio__section,
.sidebar__logo__paragraph__library {
  font-size: 1rem;
}
.sidebar__logo__paragraph__spotify {
  color: var(--btnBgColor);
}
.sidebar__logo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 18px;
}

.sidebar__logo__link:hover .sidebar__icon,
.sidebar__logo__link:hover .sidebar__logo__paragraph {
  color: var(--btnBgColor);
}

/*SECOND SECTION*/

.sidebar__second__section {
  grid-area: second;
  padding: 17px 10px 15px;
  background: var(--sectionBgColor);
  border-radius: 8px;
}
.sidebar__biblio__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar__icon__library {
  transition: all linear 0.2s;
  color: var(--letterColor);
}
.sidebar__logo__paragraph__library {
  transition: all linear 0.2s;
}
.sidebar__biblio__link:hover .sidebar__icon__library,
.sidebar__biblio__link:hover .sidebar__logo__paragraph__library {
  transition: all linear 0.2s;
  color: var(--btnBgColor);
}
.sidebar__biblio__btn {
  transform: scale(0.85);
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.sidebar__biblio__section {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 10px;
}
