.sidebar__container {
  display: grid;
  grid-area: sidebar;
  height: 100vh;
  grid-template-rows: 155px 1fr;
  grid-template-areas:
    "first"
    "second";
  max-width: 420px;
}

.sidebar__first__section {
  padding: 19px 21px;
  grid-area: first;
  background: var(--sectionBgColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar__logo__section {
  display: flex;
  align-items: center;
  gap: 1px;
}

.sidebar__icon {
  font-size: 1.8rem;
  color: var(--btnBgColor);
}
.sidebar__icon__inicio {
  color: var(--letterColor);
}

.sidebar__logo__paragraph {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--letterColor);
}
.sidebar__logo__paragraph__inicio__section {
  font-size: 1rem;
}
.sidebar__logo__paragraph__spotify {
  color: var(--btnBgColor);
}
.sidebar__logo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 18px;
}
.sidebar__logo__link:hover .sidebar__icon,
.sidebar__logo__link:hover .sidebar__logo__paragraph {
  transition: all linear 0.2s;
  color: var(--btnBgColor);
}
