.playlistmodal__container {
  position: absolute;
  top: 130%;
  left: 170%;
}
.playlistmodal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 330px;
  height: 138px;
  color: var(--btnBgColor);
  background-color: var(--modalBackground);
  border-radius: 8px;
  padding: 16px;
  animation: modalMove ease-in 1 0.2s;
  box-shadow: 5px 5px 20px #000000a6;
}

@keyframes modalMove {
  from {
    transform: translateX(4px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.playlistmodal::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -13px;
  border-bottom: 10px solid var(--modalBackground);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(270deg);
}
.playlist__modal__subtitle {
  font-size: 0.85rem;
  width: 100%;
  font-weight: 500;
  margin-top: 10px;
}
.playlistmodal__links__container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
.playlistmodal__notnow__btn {
  color: var(--letterColor);
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
}
.playlistmodal__notnow__btn:hover {
  color: var(--btnBgColor);
  transform: scale(1.03);
}
.playlistmodal__session {
  text-decoration: none;
  color: var(--backGroundColor);
}
