.asidecard__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--btnBgColor);
  background-color: var(--backGroundColor_2);
  padding: 18px 20px;
  border-radius: 8px;
  height: 135px;
}

.asidecard__title {
  font-size: 0.95rem;
}
.asidecard__subtitle {
  font-weight: 400;
}
