:root {
  --backGroundColor: #000;
  --sectionBgColor: #121212;
  --letterColor: #a7a7a7;
  --btnBgColor: #f6f6f6;
  --backGroundColor_2: #242424;
  --backGroundColor_3: #3e3e3e;
  --backGroundBtn: #c4c2c2;
  --modalBackground: #0d72ea;
  --registerColor: #1fdf64;
}

* {
  margin: 0;
  box-sizing: border-box;
}
